# Core dependencies
flask==3.0.3
beautifulsoup4==4.12.3
selenium==4.21.0
webdriver-manager==4.0.1

# Additional utilities
requests==2.32.3
# Add these to requirements.txt
gunicorn==22.0.0
lxml==5.2.1
